* {
  list-style: none !important;
  text-decoration: none !important;
}
.transition_02 {
  transition: all 0.2s linear;
}
.white_space {
  white-space: nowrap;
}
.cursor_pointer {
  cursor: pointer;
}
.opacity_06 {
  opacity: 0.6;
}
.btn_pink {
  border: 1px solid transparent;
  padding: 14.5px 33.5px;
  line-height: normal;
}
.btn_pink:hover {
  border: 1px solid var(--clr-pink);
  color: #ff5cd7;
  background-color: transparent;
  transition: all 0.2s linear;
}
/* Header Section */
.bg_header {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.05);
  padding: 11px 18px 11px 30px;
}
.nav_line::after,
::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: var(--clr-white);
  left: 0;
  transition: all 0.2s linear;
}
.nav_line::after {
  bottom: -3px;
}
.nav_line::before {
  top: -1px;
}
.nav_line:hover.nav_line::after {
  width: 14px;
}
.nav_line:hover.nav_line::before {
  width: 14px;
}
.btn_subscribe {
  padding: 15px 30px;
  line-height: normal;
  border: 1px solid transparent;
  transition: all 0.2s linear;
  cursor: pointer;
}
.btn_subscribe:hover {
  border: 1px solid var(--clr-white) !important;
  background-color: transparent;
  color: var(--clr-white);
}
/* Hero section */
.hero_img {
  background-image: url(./assets/img/webp/heroimg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.btn_started {
  border: 1px solid var(--clr-white);
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(4px);
  line-height: normal;
  padding: 14.5px 34px;
  transition: all 0.2s linear;
}
.btn_started:hover {
  color: black;
  background-color: var(--clr-white);
}
/* welcome section */
.welcome_img {
  border: 4px solid var(--clr-white);
  border-radius: 4px;
}
.welcome_img img {
  transition: all 0.2s linear;
  cursor: pointer;
}
.welcome_img:hover img {
  transform: scale(1.03);
}
.welcome_circle li {
  list-style-type: disc !important;
}
/* Join work section */
.bg_joinwork {
  background-image: url(./assets/img/webp/joinWork.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
/* Take a View section */
.scal_img img {
  transition: all 0.2s linear;
  cursor: pointer;
}
.scal_img:hover img {
  transform: scale(1.03);
}
.icon_hover:hover img {
  opacity: 0.4;
}
.view_border {
  border-top: 1px solid #d7d7d7;
  margin: 14px 0px;
}
.view_content {
  max-width: 565px;
}
.d_none {
  display: none;
}
.veiw_btn {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.read_more_btn:hover {
  color: var(--clr-pink);
}
/* Form section */
.message_resize {
  resize: none;
  height: 143px;
}
.form_input {
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  outline: none;
  padding: 18px 19px;
}
.form_input::placeholder {
  color: var(--clr-black) !important;
  font-size: var(--fs-sm);
}
.btn_send {
  border: 1px solid transparent;
  padding: 10.5px 23px;
  line-height: normal;
}
.btn_send:hover {
  border: 1px solid var(--clr-pink);
  color: #ff5cd7;
  background-color: transparent;
  transition: all 0.2s linear;
}
/*Frequently Asked Questions */
.accordion-button {
  background: transparent !important;
  padding: 16px 16px 0px 16px !important;
}
.accordion-body {
  padding: 12px 16px 0px 16px !important;
  border: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-item .accordion-button {
  font-size: var(--fs-lg) !important;
  color: var(--clr-primary-black) !important;
  font-family: "Outfit", sans-serif !important;
  font-weight: 500 !important;
}
.accordion-item {
  border-radius: 10px !important;
  border: 1px solid #c5c5c5 !important;
  max-width: 957px;
  margin: auto;
  margin-top: 16px;
  background-color: transparent !important;
  padding-bottom: 12px !important;
}
.accordion-button::after {
  background-image: url(./assets/img/svg/arrows.svg) !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.mw_758 {
  max-width: 758px;
}
/* Footer section */
.bg_footer {
  background-image: url(./assets/img/webp/footer.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.btn_getapp {
  backdrop-filter: blur(4px);
  padding: 14px 32px;
  line-height: normal;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.btn_getapp:hover {
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
  background-color: transparent;
}
.btn_start {
  backdrop-filter: blur(4px);
  padding: 12.5px 28px;
  line-height: normal;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.btn_start:hover {
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
  background-color: transparent;
}
.line_color {
  border-top: 1px solid #262b2f;
}
@media (min-width: 768px) {
  .vh_md_100 {
    height: 100vh;
  }
  .position_md_absolute {
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1164px !important;
  }
  .position_xl_absolute {
    position: absolute;
  }
  .welcome_width {
    width: 679px !important;
    height: 495px !important;
  }
  .updated_width {
    width: 558px !important;
    height: 410px !important;
  }
  .translate_xl_middle_y {
    transform: translateY(-50%) !important;
  }
  .start_xl_0 {
    left: 0;
  }
}
@media (max-width: 1199.98px) {
  .welcome_width {
    width: 100%;
  }
  .updated_width {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .phone {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: black;
    height: 100vh;
    z-index: -5;
    transition: all 500ms ease-out;
    opacity: 0;
  }
  .right_0 {
    opacity: 1;
    z-index: 28;
  }
  .z_30 {
    z-index: 30;
  }
  .bg_header {
    padding: 8px 12px;
  }
  .accordion-item {
    margin-top: 14px;
  }
  .accordion-button {
    padding: 14px 14px 0px 14px !important;
  }
  .accordion-body {
    padding: 10px 14px 0px 14px !important;
  }
  .form_input {
    padding: 15px 14px;
  }
}
@media (max-width: 575.98px) {
  .accordion-item {
    margin-top: 12px;
  }
  .accordion-button {
    padding: 12px 12px 0px 12px !important;
  }
  .accordion-body {
    padding: 8px 12px 0px 12px !important;
  }
  .btn_pink {
    padding: 12.5px 31.5px;
  }
  .join_work {
    width: 98px !important;
    height: 77px !important;
  }
  .writing_icon {
    width: 19px !important;
    height: 19px !important;
  }
  .btn_start {
    padding: 11px 28px;
  }
  .btn_getapp {
    padding: 12px 28px;
  }
  .form_input {
    padding: 10px 11px;
  }
  .accordion-button::after {
    background-size: 15px !important;
  }
  .grow_logo {
    width: 50px !important;
    height: 40px !important;
  }
}
